*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
nav{
    height: 10vh;
    background: transparent;
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    z-index: 99;
   
}
.logo{
    padding-left: 40px;
    margin-right: auto;
    z-index: 3;
    left: 220px;
    color: white;
    font-family: 'Satisfy', cursive;
}
.logo h4 a{
    color: white;
    text-decoration: none;
    font-size: 30px;
}
.nav-links li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.nav-links{
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    width: 30%;
}

.nav-links li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.wrapper{
    position: absolute;
    height: 100vh;
    position: relative;
    background-image: url("./assets/food1.jpg");
    background-size: cover;
    z-index: 1;
}
svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 750px;
    height: 100%;
    z-index: -1;
    animation:move infinite forwards ;
}

@keyframes move{
    from{
        transform: translate(-10);
    }
    to{
        transform: translate(100);
    }
}
.content{
    position: absolute;
    z-index: 5;
}
.content h1{
    font-family: 'Satisfy', cursive;
    position: relative;
    color: aliceblue;
    font-size: 20vh;
    width: fit-content;
    top: 100px;
    left: 250px;
    z-index: 4;
}

.main{
    height: 100vh;
    background: wheat;
}

@media only screen and (max-width: 700px) {
    svg {
        width: 300px;
    }
    .content h1{
        font-size: 13vh;
        left: 0;
        
    }

    .line1{
        width: 15px;
        height: 3px;
        background: white;
        z-index: 6;
        margin: 5px;
    }
    .line2{
        width: 25px;
        height: 3px;
        background: white;
        z-index: 6;
        margin: 5px;
    }
    .line3{
        width: 35px;
        height: 3px;
        background: white;
        z-index: 6;
        margin: 5px;
    }
    nav{
        position: relative;
        display: flow-root;

    }
    .logo{
        display: none;
    }
    .hamburger{
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%,-50%);
        z-index: 8;
    }
    .nav-links{
        position: fixed;
        background: rgb(7, 158, 45);
        height: 100vh;
        width: 100%;
        z-index: 6;
        flex-direction: column;
        clip-path: circle(100px at 90% -20%);
        -webkit-clip-path:circle(100px at 90% -20%);
        transition: all 1s ease-out;
        pointer-events: none;
    }
    .nav-links.open{
        clip-path: circle(900px at 90% 50%);
        -webkit-clip-path:circle(900px at 90% 50%);
        pointer-events: all;
    }
    .nav-links li {
        opacity: 0;
        z-index: 99;
    }
    .nav-links li a {
        font-size: 25px;
    }
    .nav-links li:nth-child(1){
        transition: all 0.5s ease 0.2s;
    }
    .nav-links li:nth-child(2){
        transition: all 0.5s ease 0.4s;

    }
    .nav-links li:nth-child(3){
        transition: all 0.5s ease 0.6s;

    }
    .nav-links li.fade{
        opacity: 1;
    }

}